body {
    position: relative;
}

div.topnav {
    background-color: #333;
    overflow: hidden;
}

.home_link {
    display: inline-block;
    text-decoration: none;
    color: #dbdbdb;
    margin-left: 5%;
}

.add_film_link {
    display: inline-block;
    text-decoration: none;
    color: #dbdbdb;
    margin-left: 3%;
}

ul.list li {
    float: left;
    list-style-type: none;
    margin: 1%;
}

img {
    width: 500px;
    height: 750px;
    border: 3px solid black;
}