body {
    position: relative;
}

div.topnav {
    background-color: #333;
    overflow: hidden;
}

.home_link {
    display: inline-block;
    text-decoration: none;
    color: #dbdbdb;
    margin-left: 5%;
}

.add_film_link {
    display: inline-block;
    text-decoration: none;
    color: #dbdbdb;
    margin-left: 3%;
}

ul.list li {
    margin-right: 2%;
    float: left;
    list-style-type: none;
    margin-bottom: 3%;
}

img.film {
    width: 400px;
    height: 600px;
    border: 3px solid black;
}

img.film_actor {
    width: 200px;
    height: 300px;
    border: 2px solid black;
}
img.actor {
    width: 300px;
    height: 450px;
    border: 3px solid black;
}

li.actor {
    color: #dbdbdb;
}